<div class="container">

	<div>
		<h1>Login</h1>
		<a class="btn btn-block btn-social btn-lg btn-github" href="/auth/github">
			<span class="fa fa-github"></span>
			Sign in with Github
		</a>
	</div>

</div>
